body {
  /*font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;*/
  background-color: #5b9390 !important;
  color: #fff !important;
}

body td {
  color: #000 !important;
}

a {
  color: #00B7FF;
}
