<script src="/javascripts/load-image.all.min.js"></script>

<script>
    setTimeout(function(){
        window.location.reload(true);
    }, 1000 * 60 * 60 * 3);
</script>

<div class="container">
    <div class="justify-content-center">
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            {{#each images}}
                <div class="carousel-item {{#unless @index}}active{{/unless}}">
                    <img id="img{{@index}}" class="d-block" src="https://digitalmakerspace.uncw.edu/{{this.printed_picture_file}}?a=2">
                </div>

                <script type="text/javascript">
                    try {
                        loadImage("https://digitalmakerspace.uncw.edu/{{this.printed_picture_file}}", function (canvas) {
                        $("#img{{@index}}").attr('src', canvas.toDataURL())
                        }, {orientation: true})
                    } catch (e) {
                        console.log(e)
                    }
                </script>
            {{/each}}
        </div>
        </div>
    </div>
</div>

<script>
    setTimeout(function(){
        $('.carousel').carousel()
    }, 10000);
</script>

<style>
    body {
  padding-top: 50px;
  margin: 0 auto;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.9) !important;
  text-align: center;
}

img {
  max-height: 700px;
}

.carousel-inner {
  text-align:center;
}
.carousel-inner img {
  margin: auto;
}
</style>